<form class="aui">
    <label for="start-data-picker">$i18n.getText("condec.startdatepicker")<span
            class="aui-icon icon-required"></span>
    </label>
    <input class="aui-date-picker" id="start-data-picker" type="date" max="2012-01-25" min="2011-12-25" />
    <label for="end-data-picker">$i18n.getText("condec.enddatepicker")<span
            class="aui-icon icon-required"></span>
    </label>
    <input class="aui-date-picker" id="end-data-picker" type="date" max="2012-01-25" min="2011-12-25" />
    <input class="text medium-long-field" id="jstree-search-input"
           placeholder="$i18n.getText('condec.filter.label')"/>
</form>
<div class="aui-group">
    <div id="resizable" class="left">
        <div id="evolution-timeline"></div>
    </div>
</div>


<script>
    var container = document.getElementById('evolution-timeline');
    var data = [
        {id: 1, content: 'item 1', start: '2014-04-20'},
        {id: 2, content: 'item 2', start: '2014-04-14'},
        {id: 3, content: 'item 3', start: '2014-04-18'},
        {id: 4, content: 'item 4', start: '2014-04-16', end: '2014-04-19'},
        {id: 5, content: 'item 5', start: '2014-04-25'},
        {id: 6, content: 'item 6', start: '2014-04-27', type: 'point'}
    ]
    var item = new vis.DataSet(data);
    var options = {};
    var timeline = new vis.Timeline(container,item, options);
</script>